<style>
	.storyTitle{
		font-size: 40px;
	    margin-top: 10px;
	    margin-bottom: 10px;
	}
	.storyName{
		    font-size: 40px;
		    margin-top: -10px;
		    color: blue;
		    cursor: pointer;
	}
	.storyBorder{
		    border-bottom: 1px solid grey;
		    margin-bottom: 35px;
		    padding-bottom: 15px;
	}
	.storyBtn{
		background-color: #009688;
		border-radius: 5px;
		color: #fff;
	}
	.loader{
       position: fixed;
    margin-top: 200px;
    margin-left: -169px;
    z-index: 10;
    width: 32px;
}
	@media screen and (max-width: 768px) {
		.storyName{
		    font-size: 21px;
		    margin-top: 3px;
		    color: blue;
		}
	}
</style>
<div ng-controller="homeController">
	<div class="container">
		<div class="row" style="margin-top:50px;">
			<div class="col-xs-12">
				<p class="storyTitle">Hot Sex Stories</p>
			</div>
			<div class="col-xs-12 storyBorder">
				<button class="btn storyBtn" ng-click="goToAddStory()" type="button">Write a Story</button>
			</div>
			<div ng-if="waiting">
                    <img src="../images/loader.gif" class="loader" />
                </div>
	        <div class="col-xs-12" ng-click="goToStory(story)" ng-repeat="story in stories">
	        	<p class="storyName">{{story.name}}</p>
	        </div>
	    </div>
    </div>
</div>