<style>
		.storyName{
		    font-size: 40px;
		    margin-bottom: 10px;
		    cursor: pointer;
		    border-bottom: 1px solid grey;
	}
	.loader{
       position: fixed;
    margin-top: 200px;
    margin-left: -169px;
    z-index: 10;
    width: 32px;
}
	@media screen and (max-width: 768px) {
		.storyName{
		    font-size: 20px;
		    margin-top: 10px;
		}
	}
</style>
<div ng-controller="storyController">
	<div class="container-fluid">
		<div class="row" style="margin-top:50px;" ng-repeat="value in title">
	        <div class="col-xs-12">
	        	<p class="storyName"><b>{{value.name}}</b></p>
	        </div>
	        <div ng-if="waiting">
                    <img src="../images/loader.gif" class="loader" />
                </div>
	        <div class="col-xs-12">
	        	<p style="font-size:18px">{{value.content}}</p>
	        </div>
	    </div>
    </div>
</div>